* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Orbitron", sans-serif;
}

body {
    max-width: 100%;
    max-width: 100%;
    background: rgb(204,204,204);
    background: radial-gradient(circle, rgba(204,204,204,1) 0%, rgba(59,59,59,1) 100%);
    background: rgb(44,57,78);
    background: radial-gradient(circle, rgba(44,57,78,1) 0%, rgba(0,15,31,1) 100%);
}
.cabecalho {
    background: #023e8a;
    display: flex;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 1.2em blue, 0 0 1.2em white;
}

h1 {
    margin-left: 50px;
    color: #175cff;
    text-shadow: 0 0 0.2em white, 0 0 0.2em white, 0 0 0.2em white;
    font-size: 3rem;
}

.cabecalho .imagem {
    width: 100px;
    height: 100px;
    margin-left: 50px;
    padding: 10px;
    border-radius: 50%;
}

.scrambler {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

#scrambler {
    color: #f1f1f1;
    font-size: 3rem;
    font-weight: bold;
}

.tela {
    text-align: center;
    padding: 30px;
}

/* Cronômetro */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 3rem;
    /* background-color: #f1f1f1; */
}

.container h1 {
    color: #175cff;
}

.timer {
    display: flex;
    font-size: 100px;
    font-weight: bold;
    color: #333;
}

.time {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    color: #f4d35e;
    min-width: 90px;
    font-family: Digital Numbers;
}

.separator {
    padding: 0 10px;
    color: #ee964b;
}

#milliseconds {
    font-size: 80px;
    color: #ee964b;
}

/* footer */

.social{
    position: absolute;
    bottom: 0;
    color: #FFF;
    width: 100%;
    height: 100px;    
    text-align: center;
    line-height: 100px;
}

.social .ancoras {
    display: flex;
    height: 120px;
    margin-bottom: 0;
}

.social .ancoras p {
    color: #fff;
    height: bold;
    margin-left: 50px;
}

.social .ancoras .imagem {
    width: 80px;
    height: 80px;
}
